body {
    background-image: url("../images/Feb2020\ -\ Copy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidenav {
    height: 100%;
    width: 185px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000e7;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 35px;
}  

nav ul {
    width: 50%;
    margin-left: padding;
    font-size: 18px;
    color: #DF8632;
    
}

nav li {
    list-style: none;
    text-transform: lowercase;
    cursor: pointer;
} 

nav ul li:hover { color: #f5f5f5; font-weight: bold; cursor: pointer; }

.logo {
    padding: 1%;
    border-radius: 13px;
}

.logo img {
    width: 150px;
    padding: 6%;
}


.inline-block {
    display: inline-block !important;
    vertical-align: top;
}


.thumbnail {
    width: 43%;
    height: auto;
}


.inline-block {
    display: inline-block;
}

.heroImg {
    height: auto;
    padding: 25px;
}

.content {
    background: #000000e7 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 13px;
    padding: 10px;
    margin-left: 185px;
} 

.content h2 {
    color: #DF8632;
    text-align: center;
    font-weight: bold;
}

.skills {
    padding: 15px;
    /* width: (100vw-200px); */
    height: auto;
    
}

.work {
    height: auto;
    padding: 25px;
}

.grid {
    margin-left: 185px;
    width: fit-content;
    height: auto;
    text-align: center;
    background: #000000e7 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 13px;
    padding: 15px;
    padding-top: 3px;
}

.grid h2 {
    color: #DF8632;
    font-weight: bold;
}

.card-Columns {
    display: inline-block;
    
}

.card {
    background: #ffffff1e;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.card h4 {
    color: #DF8632;
    font-weight: bold;
}

.cardContainer {
    margin-top: 20px;
    text-align: center;
}

/* .program h6 {
    color:  #DF8632;
} */

.main {
    margin-left: 185px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px 10px 10px;
    top: 43px;
    background: #000000e7 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 13px;
    text-align: center;
  
}

.main h1 {
    color: #DF8632;
    font-weight: bold;
}

.main button {
    background-color: #DF8632;
    transition: 0.3s;
    padding: 15px;
    color: whitesmoke;
    font-size: 15px;
    border-radius: 4px;
    
}

.main button:hover {
    background-color: whitesmoke;
    color: black;
}

.flexContainer {
    display: flex;
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .flexContainer div {
    width: 13%;
    height: auto;
    padding: 0 auto;
  }

.main img {
      float: right;
} 
  
footer {
    background-color: #000000e7;
    width: (100vh-185px);
    margin-left: 185px;
    padding-left: 50%;
    padding-right: 50%;
    display: inline-block !important;
    flex-direction: row;
}  

footer li {
    flex-direction: row;
    display: inline-block !important;
    text-transform: lowercase;
    cursor: pointer;
    color: #DF8632;
} 

footer ul li:hover { color: whitesmoke; }


@media only screen and (max-width: 600) {
    .flexContainer {
        flex-direction: column;
    }
    .grid {
        display: grid;
        grid-template-rows: 300px 300px 300px 300px 300px;
        grid-template-columns: 1fr;
    }
}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .content {padding-top: 15px;}

    
  }
   